<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>studentregister</display-name>
    <servlet-name>studentregister</servlet-name>
    <servlet-class>collagedatabase.studentregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentregister</servlet-name>
    <url-pattern>/studentregister</url-pattern>
  </servlet-mapping>
  <display-name>collagewebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>studentlogin</display-name>
    <servlet-name>studentlogin</servlet-name>
    <servlet-class>collagedatabase.studentlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentlogin</servlet-name>
    <url-pattern>/studentlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacherregister</display-name>
    <servlet-name>teacherregister</servlet-name>
    <servlet-class>collagedatabase.teacherregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherregister</servlet-name>
    <url-pattern>/teacherregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacherlogin</display-name>
    <servlet-name>teacherlogin</servlet-name>
    <servlet-class>collagedatabase.teacherlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherlogin</servlet-name>
    <url-pattern>/teacherlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacherupdate</display-name>
    <servlet-name>teacherupdate</servlet-name>
    <servlet-class>collagedatabase.teacherupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherupdate</servlet-name>
    <url-pattern>/teacherupdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>teacherselect</display-name>
    <servlet-name>teacherselect</servlet-name>
    <servlet-class>collagedatabase.teacherselect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherselect</servlet-name>
    <url-pattern>/teacherselect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>applycourse</display-name>
    <servlet-name>applycourse</servlet-name>
    <servlet-class>collagedatabase.applycourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applycourse</servlet-name>
    <url-pattern>/applycourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentupdate</display-name>
    <servlet-name>studentupdate</servlet-name>
    <servlet-class>collagedatabase.studentupdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentupdate</servlet-name>
    <url-pattern>/studentupdate</url-pattern>
  </servlet-mapping>
</web-app>